.cardContainer{
    float:left;
    clear:both;
    border:2px solid grey;
    border-radius:10px;
    width:400px;
    top:5%;
    left:30%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sortable {
    background-color: rgb(10,116,205);
    width: 300px;
    height: 80px;
    padding: 25px;
    margin: 30px 25px 25px 25px;
    border-radius:10px; 
    position: relative;
}

.sortable .remove {
    visibility:hidden;
    position: absolute;
}
.sortable:hover .remove {
    visibility:visible;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}
.addButton{
    cursor: pointer;
    float:right;
    margin-right: 5px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}