.cardContainer{
    float:left;
    clear:both;
    border:2px solid grey;
    border-radius:10px;
    width:400px;
    top:5%;
    left:30%;
}
.sortable {
    background-color: lightgrey;
    width: 300px;
    height: 80px;
    padding: 25px;
    margin: 30px 25px 25px 25px;
    border-radius:10px; 
    position: relative;
}

.sortable .edit {
    position: absolute;
    top: 1px;
    right: 15px;
    cursor: pointer;
}
.sortable .remove {
    position: absolute;
    top: 1px;
    right: 0px;
    cursor: pointer;
}
.addButton{
    cursor: pointer;
    float:right;
    margin-right: 5px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}